.container_ai_div {
  background-image: url(../public/img/ai-bkg.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section_ai_p {
  margin-bottom: 2em;
}

.title_ai_p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 30px;
  /* or 247% */
  color: #A2A2A2;
}

.supject_ai_p {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  /* or 135% */
  color: #404040;
}

.desc_ai_p {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  /* or 138% */
  color: #404040;
  opacity: 0.7;
}