.container_footer_div {
  background: url(../public/img/footer.png) #0d0d0d;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0px 99px 104px rgba(0, 0, 0, 0.8);
}

.p_footer {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  /*text-align: center;*/
  color: #ffffff;
}

.input_footer {
  border-radius: 0.5em 0 0 0.5em;
  padding: 1.2rem;
}

.input_footer_btn {
  border-radius: 0 0.5em 0.5em 0;
  color: rgba(232, 79, 90, 1);
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.input_span_div {
  border: 1px solid #CDCDCD;
  box-sizing: border-box;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}