.container_home_div {
  height: 100vh;
  position: relative;
  background: linear-gradient(305.47deg, #e14551 46.87%, #ff75b7 129.51%);
}

.logo_home_img {
  /*position: absolute;*/
  width: 118px;
  height: 39.76px;
  /*left: 77px;*/
  /*top: 69px;*/
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.comming_home_img {
  /*position: absolute;*/
  width: 212.92px;
  height: 20.2px;
  /*left: 70px;*/
  /*top: 226px;*/
}

.bio_home_div {
  /*position: absolute;*/
  width: 311px;
  height: 78.33px;
  /*left: 68px;*/
  /*top: 263px;*/
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30.5166px;
  line-height: 35px;
  /* or 113% */
  color: #ffffff;
}

.about_home_div {
  color: rgba(255, 255, 255, 1);
  /*position: absolute;*/
  width: 235px;
  height: 140px;
  /*left: 103px;*/
  /*top: 484px;*/
}

.banner_home_div {
  position: absolute;
  height: 73px;
  /* left: 14px; */
  background-color: rgba(255, 255, 255, 1);
  filter: drop-shadow(0px -6px 51px rgba(49, 0, 4, 0.19));
}

.banner_home_img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.banner_home_p_sign {
  color: rgba(232, 79, 90, 1);
}

.bgk_home_img {
  /*position: absolute;*/
  width: 1376px;
  height: 849px;
  /*left: 269px;*/
  /*top: -6px;*/
  filter: drop-shadow(-12px 25px 0px rgba(0, 0, 0, 0.15));
}

.sample1_home_img {
  position: absolute;
  width: 328px;
  height: 251.81px;
  left: 626px;
  top: 31px;
  filter: drop-shadow(0px 64px 54px rgba(0, 0, 0, 0.72));
  border-radius: 9.03937px;
}

.input_footer {
  border-radius: 0.5em 0 0 0.5em;
  padding: 1.2rem;
}

.input_footer_btn {
  border-radius: 0 0.5em 0.5em 0;
  color: rgba(232, 79, 90, 1);
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.input_span_div {
  border: 1px solid #CDCDCD;
  box-sizing: border-box;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.vl {
  border-left: 2px solid #FFFFFF;
  height: 100%;

}

.tag_div {
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  backdrop-filter: blur(55px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 50px;
}