.container_new_div {
  background-image: url(../public/img/bkg_new.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title_new_div {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  /* or 115% */
  color: #FFFFFF;
}

.date_new_div {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 30px;
  /* or 247% */
  color: #FFFFFF;
  opacity: 0.4;
}

.text_new_div {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 30px;
  /* or 156% */
  text-decoration-line: underline;
  color: #FFFFFF;
}