.container_wh_div {
  height: 100vh;
  position: relative;
  background: linear-gradient(305.47deg, #e14551 46.87%, #ff75b7 129.51%);
}

.text_wh_p {
  font-size: 30px;
  line-height: 35px;
  color: rgba(255, 255, 255, 1);
}

.card_wh_div {
}

.card_tag_div {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 30px;
  color: #A2A2A2;
}

.card_title_div {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
}

.card_desc_div {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  /* or 138% */
  color: #404040;
  opacity: 0.7;
}

